.not-found-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found-image {
  width: 25%;
  height: 45vh;
  margin-top: 5%;
}

.not-found-heading {
  color: #152850;
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: 14px;
}

.not-found-text {
  color: #c3cad9;
  font-family: 'Roboto';
  margin-top: 15px;
}
