.home-container {
  background-color: #152850;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: #e0eefe;
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: 3%;
  font-size: 35px;
}

.digital-card-image {
  margin-top: 20px;
}
